Repository The-Commit-Company/raven, pull requests merged in 2024-02, with the labels that each got.

#637 feat: Raven Bot Doctype Setup
  mobile/src/types/Raven/RavenUser.ts
  mobile/src/types/RavenBot/RavenBot.ts
  mobile/src/types/RavenMessaging/RavenMessage.ts
  raven-app/src/types/Raven/RavenUser.ts
  raven-app/src/types/RavenBot/RavenBot.ts
  raven-app/src/types/RavenMessaging/RavenMessage.ts
  raven/modules.txt
  raven/raven/doctype/raven_user/raven_user.json
  raven/raven/doctype/raven_user/raven_user.py
  raven/raven_bot/__init__.py
  raven/raven_bot/doctype/__init__.py
  raven/raven_bot/doctype/raven_bot/__init__.py
  raven/raven_bot/doctype/raven_bot/raven_bot.js
  raven/raven_bot/doctype/raven_bot/raven_bot.json
  raven/raven_bot/doctype/raven_bot/raven_bot.py
  raven/raven_bot/doctype/raven_bot/test_raven_bot.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
Labels: 💻 webapp, backend, UI, 📱 mobile app

#656 fix: updated Raven Message doctype
  raven/raven_messaging/doctype/raven_message/raven_message.json
Labels: backend

#662 chore: updated packages
  raven-app/package.json
  raven-app/yarn.lock
Labels: 📱mobile app, 🏃🏻 performance, 💻 webapp

#663 feat: use copied replied message for showing reply block
  mobile/src/components/features/chat-space/MessageActions/MessageActionModal.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageItem.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/components/feature/chat/ChatMessage/ReplyMessageBox/ReplyMessageBox.tsx
  raven/api/chat.py
  raven/api/raven_message.py
  raven/patches.txt
  raven/patches/v1_3/update_all_messages_to_include_replied_message_content.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
  types/Messaging/Message.ts
Labels: enhancement, 🖼️ design, 💻 webapp, 🩻 backend, 🎨 UI, linear, Improvement, Medium priority

#631 fix: emoji picker search text not visible in dark mode [#614]
  raven-app/src/components/common/EmojiPicker/EmojiPicker.tsx
Labels: 🐞 bug, good first issue, 🖼️ design, 💻 webapp, easy, UI

#638 show 'edited' label when message is edited by user
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageItem.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven/api/raven_message.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
  types/Messaging/Message.ts
Labels: 💻 webapp, backend, UI, 📱 mobile app

#657 docs: add contributors to README
  README.md
Labels: 📑 documentation

#676 feat(dev): added codespaces configuration
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .vscode/launch.json
  .vscode/settings.json
  scripts/init.sh
Labels: 📑 documentation, 🧰 Dev Tooling

#683 feat: Allow login via username
  raven-app/src/pages/auth/Login.tsx
  raven-app/src/utils/auth/UserProvider.tsx
Labels: 💻 webapp, UI

#681 feat: allow users to view and search files shared in a channel easily
  raven-app/src/components/feature/chat-header/ChannelHeader.tsx
  raven-app/src/components/feature/chat-header/DMChannelHeader.tsx
  raven-app/src/components/feature/files/FilesTable.tsx
  raven-app/src/components/feature/files/ViewFilesButton.tsx
  raven-app/src/components/feature/files/ViewFilesContent.tsx
  raven-app/src/hooks/useFileURLCopy.ts
  raven-app/src/utils/operations.ts
  raven/api/raven_message.py
  raven/api/upload_file.py
Labels: 💻 webapp, backend, UI

#684 fix: last channel opened not being maintained in local storage
  raven-app/src/pages/ChatSpace.tsx
Labels: 💻 webapp, easy, UI

#689 feat: reactions on mobile app
  mobile/package.json
  mobile/src/components/common/EmojiPicker.tsx
  mobile/src/components/common/emojiPicker.styles.css
  mobile/src/components/features/chat-input/Tiptap.tsx
  mobile/src/components/features/chat-space/MessageActions/EmojiAction.tsx
  mobile/src/components/features/chat-space/MessageActions/MessageActionModal.tsx
  mobile/src/components/features/chat-space/MessageActions/MessagePreview.tsx
  mobile/src/components/features/chat-space/MessageActions/emojiAction.styles.css
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  mobile/src/components/features/chat-space/chat-view/components/MessageReactions.tsx
  mobile/src/hooks/useGetUserRecords.ts
  mobile/src/pages/auth/Login.tsx
  mobile/src/styles/variables.css
  mobile/src/utils/auth/UserProvider.tsx
  mobile/tailwind.config.cjs
  mobile/yarn.lock
  raven-app/src/components/feature/chat/ChatStream/ChatBoxBody.tsx
Labels: enhancement, 📱mobile app, 💻 webapp, linear, UI, 📱 mobile app

#695 fix(mobile): refresh messages when user reacts
  mobile/src/components/features/chat-space/MessageActions/EmojiAction.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  mobile/src/components/features/chat-space/chat-view/components/MessageReactions.tsx
Labels: UI, 📱 mobile app

#660 Rav 41 expose controller method for raven bots
  package.json
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/utils/layout/FileExtIcon.tsx
  raven/api/message_stream.py
  raven/api/raven_message.py
  raven/boot.py
  raven/hooks.py
  raven/package-lock.json
  raven/package.json
  raven/patches.txt
  raven/patches/v1_3/update_all_messages_to_include_message_content.py
  raven/public/fonts/CalSans.woff2
  raven/public/js/raven.bundle.js
  raven/public/js/raven_chat/App.jsx
  raven/public/js/raven_chat/components/common/Avatar.jsx
  raven/public/js/raven_chat/components/common/ChannelIcon.jsx
  raven/public/js/raven_chat/components/common/ErrorBanner.jsx
  raven/public/js/raven_chat/components/common/FileExtensionIcon.jsx
  raven/public/js/raven_chat/components/layout/ChannelList.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/ChatInput.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/FileUpload.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/Tiptap.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatView.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/DateItem.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/MessageItem.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/FileMessageBlock.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/ImageMessageBlock.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/TiptapRenderer.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageStream/MessageStream.jsx
  raven/public/js/raven_chat/components/layout/Header.jsx
  raven/public/js/raven_chat/hooks/useBoolean.js
  raven/public/js/raven_chat/hooks/useChannelList.js
  raven/public/js/raven_chat/hooks/useCurrentChannel.js
  raven/public/js/raven_chat/hooks/useFetch.js
  raven/public/js/raven_chat/hooks/useGetChannel.js
  raven/public/js/raven_chat/hooks/useGetUser.js
  raven/public/js/raven_chat/hooks/useStartFetch.js
  raven/public/js/raven_chat/hooks/useUnreadCount.js
  raven/public/js/raven_chat/hooks/useUserList.js
  raven/public/js/raven_chat/raven_chat.bundle.jsx
  raven/public/js/raven_chat/utils/operations.js
  raven/public/scss/avatar.scss
  raven/public/scss/channels.scss
  raven/public/scss/chat.scss
  raven/public/scss/dateSeparator.scss
  raven/public/scss/header.scss
  raven/public/scss/message.scss
  raven/public/scss/raven.bundle.scss
  raven/public/sounds/raven_notification.mp3
  raven/raven/doctype/raven_settings/raven_settings.json
  raven/raven/doctype/raven_settings/raven_settings.py
  raven/raven/page/__init__.py
  raven/raven_bot/doctype/raven_bot/raven_bot.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
  raven/yarn.lock
Labels: 💻 webapp, backend, UI

#706 fix(ui): width of user avatar in message preview of mobile
  mobile/src/components/features/chat-space/MessageActions/MessagePreview.tsx
Labels: 🐞 bug, 💻 webapp, 🎨 UI, Medium priority, UI, 📱 mobile app

#708 fix: create raven user for website users if role is assigned to them
  raven/raven/doctype/raven_user/raven_user.py
Labels: 🐞 bug, backend

#732 Release v1.4.3
  .github/helper/install_dependencies.sh
  mobile/package.json
  mobile/src/components/common/MarkdownRenderer.tsx
  mobile/src/components/common/renderer.css
  mobile/src/components/features/chat-input/Tiptap.tsx
  mobile/src/components/features/chat-space/MessageActions/MessagePreview.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  mobile/src/pages/profile/Profile.tsx
  mobile/yarn.lock
  package.json
  raven-app/package.json
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/Link.tsx
  raven-app/src/components/feature/chat/ChatMessage/ReplyMessageBox/ReplyMessageBox.tsx
  raven-app/yarn.lock
  raven/__init__.py
  raven/package.json
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/TiptapRenderer.jsx
  raven/raven_messaging/doctype/raven_message/raven_message.json
Labels: 💻 webapp, backend, UI, 📱 mobile app
