Repository The-Commit-Company/raven, pull requests merged in 2024-06, with the labels that each got.

#929 feat: show all reactions
  raven-app/src/components/feature/chat/ChatMessage/MessageReactions.tsx
  raven-app/src/utils/operations.ts
Labels: 💻 webapp, UI

#927 131 user should be able to set their availability status
  raven-app/src/components/feature/saved-messages/SavedMessages.tsx
  raven-app/src/components/layout/Sidebar/SidebarFooter.tsx
Labels: 💻 webapp, UI, backend

#935 feat: add doctype preview card
  raven-app/src/components/feature/chat/ChatMessage/Renderers/DoctypeLinkRenderer.tsx
  raven-app/src/hooks/useDoctypePreview.ts
  raven/api/document_link.py
Labels: 💻 webapp, UI, backend

#944 Minor fixes
  raven-app/src/components/feature/channel-details/leave-channel/LeaveChannelModal.tsx
  raven-app/src/components/feature/channel-details/rename-channel/EditChannelNameButton.tsx
  raven-app/src/components/feature/channel-member-details/ChannelMemberDetails.tsx
  raven-app/src/components/feature/channel-member-details/add-members/AddChannelMemberModalContent.tsx
  raven-app/src/components/feature/channel-member-details/add-members/AddMembersButton.tsx
  raven-app/src/components/feature/channel-settings/ChannelSettings.tsx
  raven-app/src/components/feature/channel-settings/archive-channel/ArchiveChannelButton.tsx
  raven-app/src/components/feature/channel-settings/change-channel-type/ChangeChannelTypeButton.tsx
  raven-app/src/components/feature/channel-settings/delete-channel/DeleteChannelButton.tsx
  raven-app/src/components/feature/channel-shared-files/FilesSharedInChannel.tsx
  raven-app/src/components/feature/channels/ViewChannelDetailsModal.tsx
  raven-app/src/components/feature/chat-header/ChannelHeaderMenu.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  raven-app/src/components/feature/chat/chat-footer/JoinChannelBox.tsx
  raven-app/src/components/feature/integrations/webhooks/WebhookItem.tsx
  raven-app/src/components/feature/select-member/AddMembersDropdown.tsx
  raven-app/src/components/layout/EmptyState/EmptyState.tsx
  raven-app/src/components/layout/Sidebar/SidebarFooter.tsx
  raven-app/src/pages/settings/ServerScripts/SchedulerEvents/ScheduledMessageList.tsx
Labels: 💻 webapp, UI

#949 feat: migrated to Radix Themes v3
  frontend/package.json
  frontend/src/components/common/GIFPicker/GIFPicker.tsx
  frontend/src/components/feature/GlobalSearch/ChannelSearch.tsx
  frontend/src/components/feature/GlobalSearch/FileSearch.tsx
  frontend/src/components/feature/GlobalSearch/MessageSearch.tsx
  frontend/src/components/feature/channel-details/rename-channel/ChannelRenameModal.tsx
  frontend/src/components/feature/channel-member-details/ChannelMemberDetails.tsx
  frontend/src/components/feature/channel-member-details/add-members/AddChannelMembersModal.tsx
  frontend/src/components/feature/channel-member-details/add-members/AddMembersButton.tsx
  frontend/src/components/feature/channels/CreateChannelModal.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/DoctypeLinkRenderer.tsx
  frontend/src/components/feature/chat/ChatMessage/ReplyMessageBox/ReplyMessageBox.tsx
  frontend/src/components/feature/files/ViewFilesContent.tsx
  frontend/src/components/feature/integrations/webhooks/WebhookForm.tsx
  frontend/src/components/feature/integrations/webhooks/WebhookHeaders.tsx
  frontend/src/components/feature/integrations/webhooks/WebhookReturnDataFieldTable.tsx
  frontend/src/components/feature/polls/CreatePoll.tsx
  frontend/src/components/feature/raven-users/AddRavenUsersContent.tsx
  frontend/src/components/feature/select-member/AddMembersDropdown.tsx
  frontend/src/components/feature/settings/scheduler-events/SchedulerEventsForm.tsx
  frontend/src/components/feature/userSettings/SetCustomStatusContent.tsx
  frontend/src/components/layout/Divider/DateSeparator.tsx
  frontend/src/components/layout/Loaders/TableLoader.tsx
  frontend/src/components/layout/Settings/SettingsSidebarHeader.tsx
  frontend/src/components/layout/Sidebar/SidebarHeader.tsx
  frontend/src/pages/AddRavenUsersPage.tsx
  frontend/src/pages/auth/ForgotPassword.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/LoginWithEmail.tsx
  frontend/src/pages/auth/SignUp.tsx
  frontend/src/pages/auth/TwoFactor.tsx
  frontend/tailwind.config.js
  frontend/yarn.lock
  raven/api/document_link.py
Labels: UI, backend

#953 fix: make saved messages header mobile responsive
  frontend/src/components/layout/EmptyState/EmptyState.tsx
Labels: UI

#961 Allow users to forward a chat message
  frontend/src/components/common/UserAvatar.tsx
  frontend/src/components/feature/channel-member-details/add-members/AddChannelMemberModalContent.tsx
  frontend/src/components/feature/chat/ChatMessage/ActionModals/ForwardMessageModal.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/ForwardMessage.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/components/feature/chat/ChatStream/ChatStream.tsx
  frontend/src/components/feature/selectDropdowns/AddMembersDropdown.tsx
  frontend/src/components/feature/selectDropdowns/GenerateAvatarColor.ts
  frontend/src/components/feature/selectDropdowns/UsersOrChannelsDropdown.tsx
  frontend/src/types/RavenMessaging/RavenMessage.ts
  raven/api/chat_stream.py
  raven/api/raven_message.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
  types/Messaging/Message.ts
Labels: UI, backend

#966 feat: Sync departments and employees with channel members
  frontend/src/types/Raven/RavenSettings.ts
  frontend/src/types/RavenChannelManagement/RavenChannel.ts
  frontend/src/types/RavenChannelManagement/RavenChannelMember.ts
  raven/api/raven_message.py
  raven/hooks.py
  raven/patches.txt
  raven/patches/v1_6/migrate_older_raven_users.py
  raven/raven/doctype/raven_settings/raven_settings.json
  raven/raven/doctype/raven_settings/raven_settings.py
  raven/raven_channel_management/doctype/raven_channel/raven_channel.json
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.json
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
  raven/raven_integrations/controllers/department.py
  raven/raven_integrations/controllers/employee.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: UI, backend

#968 fix: do not allow selected option to be selected again in channel/user combobox
  frontend/src/components/feature/selectDropdowns/UsersOrChannelsDropdown.tsx
Labels: UI

#969 Make settings UI mobile responsive (only Profile page)
  frontend/src/components/feature/userSettings/UserProfile/UserProfile.tsx
  frontend/src/components/layout/Settings/SettingsSidebar.tsx
  frontend/src/components/layout/Settings/SettingsSidebarBody.tsx
  frontend/src/components/layout/Settings/SettingsSidebarHeader.tsx
  frontend/src/components/layout/Sidebar/SidebarFooter.tsx
  frontend/src/pages/settings/Settings.tsx
Labels: UI
