Repository The-Commit-Company/raven, pull requests merged in 2024-03, with the labels that each got.

#741 Merge rav-90 into rav-scheduler-events
  mobile/package.json
  mobile/src/components/features/chat-input/MentionList.tsx
  mobile/src/components/features/chat-input/Tiptap.tsx
  mobile/src/pages/profile/Profile.tsx
  mobile/src/types/RavenMessaging/RavenMention.ts
  mobile/src/types/RavenMessaging/RavenMessage.ts
  mobile/yarn.lock
  package.json
  raven-app/package.json
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/types/RavenMessaging/RavenMention.ts
  raven-app/src/types/RavenMessaging/RavenMessage.ts
  raven/__init__.py
  raven/modules.txt
  raven/package.json
  raven/raven/doctype/raven_user/raven_user.json
  raven/raven/doctype/raven_user/raven_user.py
  raven/raven_bot/doctype/raven_bot/raven_bot.py
  raven/raven_messaging/doctype/raven_mention/__init__.py
  raven/raven_messaging/doctype/raven_mention/raven_mention.json
  raven/raven_messaging/doctype/raven_mention/raven_mention.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: 💻 webapp, backend, UI, 📱 mobile app

#764 fix: autofocus input-otp when component loads
  mobile/src/components/ui/input-otp.tsx
Labels: UI, 📱 mobile app

#768 fix(mobile): change bg color for auth pages to match rest of the app
  mobile/src/index.css
Labels: UI, 📱 mobile app

#775 feat: allow users to send gifs (via Tenor API)
  raven-app/package.json
  raven-app/src/components/common/GIFPicker/GIFFeaturedResults.tsx
  raven-app/src/components/common/GIFPicker/GIFGallerySkeleton.tsx
  raven-app/src/components/common/GIFPicker/GIFPicker.tsx
  raven-app/src/components/common/GIFPicker/GIFSearchResults.tsx
  raven-app/src/components/feature/chat/ChatInput/RightToolbarButtons.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatInput/tiptap.styles.css
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/types/Raven/RavenUser.ts
  raven-app/src/types/RavenMessaging/RavenGIFPicker.ts
  raven-app/src/types/RavenMessaging/RavenMessage.ts
  raven-app/yarn.lock
  raven/boot.py
  raven/raven/doctype/raven_settings/raven_settings.json
  raven/raven/doctype/raven_settings/raven_settings.py
Labels: 💻 webapp, UI, backend

#787 feat: push notifications via Frappe Cloud
  mobile/package.json
  mobile/public/sw.js
  mobile/src/App.tsx
  mobile/src/components/layout/Navbar.tsx
  mobile/src/types/Raven/RavenSettings.ts
  mobile/src/utils/auth/UserProvider.tsx
  mobile/src/utils/pushNotifications.ts
  mobile/yarn.lock
  raven-app/package.json
  raven-app/src/components/feature/chat/ChatInput/FileInput/useFileUpload.ts
  raven-app/src/types/Raven/RavenSettings.ts
  raven-app/yarn.lock
  raven/notification.py
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: 💻 webapp, UI, backend, 📱 mobile app
