Repository The-Commit-Company/raven, pull requests merged in 2024-05, with the labels that each got.

#901 feat: cache data locally
  raven-app/package.json
  raven-app/src/App.tsx
  raven-app/src/components/feature/chat/ChatStream/useChatStream.ts
  raven-app/src/pages/auth/Login.tsx
  raven-app/src/utils/auth/UserProvider.tsx
  raven-app/yarn.lock
  raven/yarn.lock
Labels: 💻 webapp, UI

#902 fix: animation timing and layout shifting
  raven-app/src/components/common/UserAvatar.tsx
  raven-app/src/components/feature/channels/ChannelList.tsx
  raven-app/src/components/feature/channels/CreateChannelModal.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatStream/ChatBoxBody.tsx
  raven-app/src/components/feature/chat/ChatStream/ChatStream.tsx
  raven-app/src/components/feature/direct-messages/DirectMessageList.tsx
  raven-app/src/components/layout/Sidebar/SidebarComp.tsx
  raven-app/tailwind.config.js
Labels: 💻 webapp, UI

#913 perf: cache user list
  raven-app/src/utils/users/UserListProvider.tsx
  raven/api/raven_users.py
  raven/raven/doctype/raven_user/raven_user.py
Labels: 💻 webapp, UI, backend

#914 fix: allow members to be deleted if ignore permissions is set to true
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
Labels: backend

#925 Merging "Make webapp responsive" in 131
  raven-app/src/App.tsx
  raven-app/src/components/common/GIFPicker/GIFFeaturedResults.tsx
  raven-app/src/components/common/GIFPicker/GIFGallerySkeleton.tsx
  raven-app/src/components/common/GIFPicker/GIFPicker.tsx
  raven-app/src/components/common/GIFPicker/GIFSearchResults.tsx
  raven-app/src/components/feature/CommandMenu/ChannelItem.tsx
  raven-app/src/components/feature/CommandMenu/CommandMenu.tsx
  raven-app/src/components/feature/CommandMenu/commandMenu.styles.css
  raven-app/src/components/feature/GlobalSearch/ChannelSearch.tsx
  raven-app/src/components/feature/GlobalSearch/FileSearch.tsx
  raven-app/src/components/feature/GlobalSearch/GlobalSearch.tsx
  raven-app/src/components/feature/GlobalSearch/MessageSearch.tsx
  raven-app/src/components/feature/channels/ChannelList.tsx
  raven-app/src/components/feature/channels/CreateChannelModal.tsx
  raven-app/src/components/feature/chat-header/ChannelHeader.tsx
  raven-app/src/components/feature/chat-header/ChannelHeaderMenu.tsx
  raven-app/src/components/feature/chat-header/DMChannelHeader.tsx
  raven-app/src/components/feature/chat/ChatInput/MobileActions/AddGIFDrawer.tsx
  raven-app/src/components/feature/chat/ChatInput/MobileActions/AttachFile.tsx
  raven-app/src/components/feature/chat/ChatInput/MobileActions/CreatePollDrawer.tsx
  raven-app/src/components/feature/chat/ChatInput/MobileActions/MobileInputActions.tsx
  raven-app/src/components/feature/chat/ChatInput/RightToolbarButtons.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatInput/tiptap.styles.css
  raven-app/src/components/feature/chat/ChatMessage/ActionModals/EditMessageModal.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/EditMessage.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageReactions.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/FileMessage.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/ImageMessage.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/PollMessage.tsx
  raven-app/src/components/feature/direct-messages/DirectMessageList.tsx
  raven-app/src/components/feature/polls/CreatePoll.tsx
  raven-app/src/components/feature/polls/ViewPollVotes.tsx
  raven-app/src/components/feature/saved-messages/SavedMessages.tsx
  raven-app/src/components/layout/Sidebar/SidebarBody.tsx
  raven-app/src/components/layout/Sidebar/SidebarComp.tsx
  raven-app/src/components/layout/Sidebar/SidebarFooter.tsx
  raven-app/src/components/layout/Sidebar/SidebarHeader.tsx
  raven-app/src/hooks/useMediaQuery.ts
  raven-app/src/pages/MobileTabsPage.tsx
  raven-app/src/utils/channel/ChannelRedirect.tsx
Labels: 💻 webapp, UI, 📱 mobile app
