Repository The-Commit-Company/raven, pull requests merged in 2024-08, with the labels that each got.

#989 build: use workspaces
  frontend/package.json
  frontend/src/types/Raven/RavenUser.ts
  frontend/yarn.lock
  package.json
  raven/package.json
  raven/raven/doctype/raven_user/raven_user.json
  raven/yarn.lock
  yarn.lock
Labels: backend

#990 build/no fixed folder layout
  frontend/proxyOptions.js
Labels: backend

#991 Merging main into develop
  frontend/package.json
  frontend/proxyOptions.js
  frontend/yarn.lock
  package.json
  raven/package.json
  raven/yarn.lock
  yarn.lock
Labels: backend

#992 fix: show "deleted user" if Raven User not found
  frontend/src/components/feature/CommandMenu/DMChannelItem.tsx
  frontend/src/components/feature/CommandMenu/UserList.tsx
  frontend/src/components/feature/chat-header/DMChannelHeader.tsx
  frontend/src/components/feature/direct-messages/DirectMessageList.tsx
  frontend/src/components/layout/EmptyState/EmptyState.tsx
  frontend/src/utils/operations.ts
Labels: UI

#993 fix: do not show disabled users in the sidebar
  frontend/src/components/feature/CommandMenu/DMChannelItem.tsx
  frontend/src/components/feature/CommandMenu/UserList.tsx
  frontend/src/components/feature/chat-header/DMChannelHeader.tsx
  frontend/src/components/feature/direct-messages/DirectMessageList.tsx
  frontend/src/components/layout/EmptyState/EmptyState.tsx
  raven/raven/doctype/raven_user/raven_user.py
Labels: UI, backend

#996 fix: do not close actions when searching emoji picker
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/EmojiPickerButton.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
Labels: UI

#997 fix(ui): color links in messages
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/tiptap-renderer.styles.css
Labels: UI

#1006 Release v1.6.6
  frontend/package.json
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  package.json
  raven/__init__.py
  raven/package.json
  raven/yarn.lock
  yarn.lock
Labels: UI, backend

#1007 merging dev in 766
  frontend/package.json
  frontend/proxyOptions.js
  frontend/src/components/feature/CommandMenu/DMChannelItem.tsx
  frontend/src/components/feature/CommandMenu/UserList.tsx
  frontend/src/components/feature/chat-header/DMChannelHeader.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/EmojiPickerButton.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/DoctypeLinkRenderer.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/Mention.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/tiptap-renderer.styles.css
  frontend/src/components/feature/direct-messages/DirectMessageList.tsx
  frontend/src/components/layout/EmptyState/EmptyState.tsx
  frontend/src/types/Raven/RavenUser.ts
  frontend/src/utils/operations.ts
  frontend/yarn.lock
  package.json
  raven/__init__.py
  raven/package.json
  raven/raven/doctype/raven_user/raven_user.json
  raven/raven/doctype/raven_user/raven_user.py
  raven/yarn.lock
  yarn.lock
Labels: UI, backend

#1016 chore: fix placeholders in create poll modal
  frontend/src/components/feature/polls/CreatePoll.tsx
Labels: UI

#1018 fix: Re-write search API
  frontend/src/components/feature/GlobalSearch/ChannelSearch.tsx
  frontend/src/components/feature/GlobalSearch/FileSearch.tsx
  frontend/src/components/feature/GlobalSearch/GlobalSearch.tsx
  frontend/src/components/feature/GlobalSearch/MessageSearch.tsx
  raven/api/search.py
  types/Search/Search.ts
Labels: UI, backend

#1020 feat: allow users to attach files sent on Raven to other documents
  frontend/package.json
  frontend/src/components/common/LinkField/LinkField.tsx
  frontend/src/components/common/LinkField/LinkFormField.tsx
  frontend/src/components/feature/chat/ChatMessage/ActionModals/AttachFileToDocumentModal.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/AttachFileToDocument.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/components/feature/chat/ChatStream/ChatStream.tsx
  yarn.lock
Labels: UI

#1010 feat: added chevron button to hide/re-open images
  frontend/src/components/feature/chat/ChatMessage/Renderers/ImageMessage.tsx
Labels: UI

#1019 feat: view all reactions for a message
  frontend/src/components/feature/chat/ChatMessage/ActionModals/ReactionAnalyticsModal.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/MessageReactionAnalytics.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageReactions.tsx
  frontend/src/components/feature/chat/ChatStream/ChatStream.tsx
Labels: UI

#1023 feat: start Google Meet via events from a channel
  frontend/src/components/common/LinkField/LinkField.tsx
  frontend/src/components/feature/chat-header/ChannelHeaderMenu.tsx
  frontend/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/Link.tsx
  frontend/src/components/feature/integrations/meetings/CreateMeetingDialog.tsx
  frontend/src/components/feature/integrations/meetings/CreateMeetingForm.tsx
  raven/api/events.py
  raven/api/raven_message.py
Labels: UI, backend

#1027 Release v1.6.11
  frontend/package.json
  frontend/src/components/layout/Divider/DateSeparator.tsx
  package.json
  raven/__init__.py
  raven/package.json
  raven/yarn.lock
  yarn.lock
Labels: UI, backend

#1029 fix: user name initials
  frontend/src/components/feature/chat/ChatMessage/ActionModals/ReactionAnalyticsModal.tsx
Labels: UI

#1031 Release v1.6.12
  frontend/package.json
  frontend/src/components/feature/chat/ChatMessage/ActionModals/ReactionAnalyticsModal.tsx
  package.json
  raven/__init__.py
  raven/hooks.py
  raven/package-lock.json
  raven/package.json
  raven/permissions.py
  yarn.lock
Labels: UI, backend

#1034 fix(ux): show search button
  frontend/src/components/layout/Sidebar/SidebarHeader.tsx
Labels: UI

#1044 Release v1.6.13
  README.md
  frontend/package.json
  frontend/src/components/feature/channel-details/leave-channel/LeaveChannelButton.tsx
  frontend/src/components/feature/channel-details/leave-channel/LeaveChannelModal.tsx
  frontend/src/components/feature/channel-settings/archive-channel/ArchiveChannelButton.tsx
  frontend/src/components/feature/channel-settings/archive-channel/ArchiveChannelModal.tsx
  frontend/src/components/feature/channel-settings/change-channel-type/ChangeChannelTypeButton.tsx
  frontend/src/components/feature/channel-settings/delete-channel/DeleteChannelButton.tsx
  frontend/src/components/feature/channel-settings/delete-channel/DeleteChannelModal.tsx
  frontend/src/components/feature/chat/ChatInput/RightToolbarButtons.tsx
  frontend/src/components/feature/chat/ChatInput/Tiptap.tsx
  frontend/src/components/feature/userSettings/PushNotifications/PushNotificationToggle.tsx
  frontend/src/components/layout/Sidebar/SidebarHeader.tsx
  package.json
  raven/__init__.py
  raven/package.json
Labels: UI, backend
