Repository The-Commit-Company/raven, pull requests merged in 2024-01, with the labels that each got.

#616 fix: permissions error for LDAP login
  raven/raven/doctype/raven_user/raven_user.py
Labels: backend

#628 fix: update js and python client
  raven-app/public/frappe-push-notification.js
  raven/__init__.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: backend

#634 feat: show warning if role profile is added to user
  raven-app/src/components/feature/raven-users/AddRavenUsersContent.tsx
  raven-app/src/components/feature/raven-users/UsersTable.tsx
Labels: 🐞 bug, 💻 webapp, linear, Medium priority, UI

#633 Rav 46 code clean up
  mobile/src/components/features/channels/channel-members/ViewChannelMembers.tsx
  mobile/src/components/features/chat-input/ChatInput.tsx
  mobile/src/components/features/chat-space/ChatInterface.tsx
  mobile/src/components/features/direct-messages/DirectMessages.tsx
  mobile/src/pages/channels/Channels.tsx
  mobile/src/pages/direct-messages/DirectMessageList.tsx
  mobile/src/utils/channel/ChannelListProvider.tsx
  raven-app/src/components/feature/GlobalSearch/MessageSearch.tsx
  raven-app/src/components/feature/channel-shared-files/FilesSharedInChannel.tsx
  raven-app/src/components/feature/chat/ChatInput/useSendMessage.ts
  raven-app/src/components/feature/chat/ChatStream/ChatBoxBody.tsx
  raven-app/src/components/feature/chat/ChatStream/ChatHistory.tsx
  raven-app/src/components/feature/direct-messages/DirectMessageList.tsx
  raven-app/src/components/feature/saved-messages/SavedMessages.tsx
  raven-app/src/components/layout/Sidebar/SidebarBody.tsx
  raven-app/src/utils/channel/ChannelListProvider.tsx
  raven/api/raven_channel.py
  raven/api/raven_channel_member.py
  raven/api/raven_message.py
  raven/api/raven_message_reaction.py
  raven/hooks.py
  raven/patches/v1_3/create_raven_message_indexes.py
  raven/public/js/timeline_button.js
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
  raven/raven_messaging/doctype/raven_message_reaction/raven_message_reaction.py
Labels: 💻 webapp, backend, UI, 📱 mobile app

#632 620 multiple attachments shown when we send a message from the app
  raven/public/js/timeline_button.js
Labels: help wanted, UI

#635 added html striped content for better search
  raven/api/search.py
  raven/patches.txt
  raven/patches/v1_3/update_all_messages_to_include_message_content.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: backend

#636 fix: re-render message block if modified
  raven-app/src/components/feature/chat/ChatStream/ChatHistory.tsx
  raven/api/raven_message.py
  types/Messaging/Message.ts
Labels: 💻 webapp, backend, UI

#641 Merge develop to integration
  mobile/src/components/features/channels/channel-members/ViewChannelMembers.tsx
  mobile/src/components/features/chat-input/ChatInput.tsx
  mobile/src/components/features/chat-space/ChatInterface.tsx
  mobile/src/components/features/direct-messages/DirectMessages.tsx
  mobile/src/pages/channels/Channels.tsx
  mobile/src/pages/direct-messages/DirectMessageList.tsx
  mobile/src/types/RavenMessaging/RavenMessage.ts
  mobile/src/utils/channel/ChannelListProvider.tsx
  raven-app/src/components/feature/GlobalSearch/MessageSearch.tsx
  raven-app/src/components/feature/channel-shared-files/FilesSharedInChannel.tsx
  raven-app/src/components/feature/chat/ChatInput/useSendMessage.ts
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActionButton.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageItem.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/DateTooltip.tsx
  raven-app/src/components/feature/chat/ChatStream/ChatBoxBody.tsx
  raven-app/src/components/feature/chat/ChatStream/ChatHistory.tsx
  raven-app/src/components/feature/direct-messages/DirectMessageList.tsx
  raven-app/src/components/feature/raven-users/AddRavenUsersContent.tsx
  raven-app/src/components/feature/raven-users/UsersTable.tsx
  raven-app/src/components/feature/saved-messages/SavedMessages.tsx
  raven-app/src/components/layout/Sidebar/SidebarBody.tsx
  raven-app/src/types/RavenMessaging/RavenMessage.ts
  raven-app/src/utils/channel/ChannelListProvider.tsx
  raven/api/raven_channel.py
  raven/api/raven_channel_member.py
  raven/api/raven_message.py
  raven/api/raven_message_reaction.py
  raven/api/search.py
  raven/hooks.py
  raven/patches.txt
  raven/patches/v1_3/update_all_messages_to_include_message_content.py
  raven/public/js/timeline_button.js
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
  raven/raven_messaging/doctype/raven_message_reaction/raven_message_reaction.py
  types/Messaging/Message.ts
Labels: 💻 webapp, backend, UI, 📱 mobile app

#648 feat: chat dialog in desk interface
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/utils/layout/FileExtIcon.tsx
  raven/api/message_stream.py
  raven/api/raven_message.py
  raven/boot.py
  raven/hooks.py
  raven/package-lock.json
  raven/package.json
  raven/public/fonts/CalSans.woff2
  raven/public/js/raven.bundle.js
  raven/public/js/raven_chat/App.jsx
  raven/public/js/raven_chat/components/common/Avatar.jsx
  raven/public/js/raven_chat/components/common/ChannelIcon.jsx
  raven/public/js/raven_chat/components/common/ErrorBanner.jsx
  raven/public/js/raven_chat/components/common/FileExtensionIcon.jsx
  raven/public/js/raven_chat/components/layout/ChannelList.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/ChatInput.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/FileUpload.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatInput/Tiptap.jsx
  raven/public/js/raven_chat/components/layout/Chat/ChatView.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/DateItem.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/MessageItem.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/FileMessageBlock.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/ImageMessageBlock.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageRenderer/renderers/TiptapRenderer.jsx
  raven/public/js/raven_chat/components/layout/Chat/MessageStream/MessageStream.jsx
  raven/public/js/raven_chat/components/layout/Header.jsx
  raven/public/js/raven_chat/hooks/useBoolean.js
  raven/public/js/raven_chat/hooks/useChannelList.js
  raven/public/js/raven_chat/hooks/useCurrentChannel.js
  raven/public/js/raven_chat/hooks/useFetch.js
  raven/public/js/raven_chat/hooks/useGetChannel.js
  raven/public/js/raven_chat/hooks/useGetUser.js
  raven/public/js/raven_chat/hooks/useStartFetch.js
  raven/public/js/raven_chat/hooks/useUnreadCount.js
  raven/public/js/raven_chat/hooks/useUserList.js
  raven/public/js/raven_chat/raven_chat.bundle.jsx
  raven/public/js/raven_chat/utils/operations.js
  raven/public/scss/avatar.scss
  raven/public/scss/channels.scss
  raven/public/scss/chat.scss
  raven/public/scss/dateSeparator.scss
  raven/public/scss/header.scss
  raven/public/scss/message.scss
  raven/public/scss/raven.bundle.scss
  raven/public/sounds/raven_notification.mp3
  raven/raven/doctype/raven_settings/raven_settings.json
  raven/raven/doctype/raven_settings/raven_settings.py
  raven/raven/page/__init__.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
  raven/yarn.lock
Labels: linear, High priority
