Repository The-Commit-Company/raven, pull requests merged in 2024-04, with the labels that each got.

#792 fix: API for creating direct message channels
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
  raven/raven_channel_management/doctype/raven_channel_member/raven_channel_member.py
Labels: backend

#795 fix: check if bot message when deciding message stream
  mobile/src/components/features/chat-space/useChatStream.ts
  raven-app/src/components/feature/chat/ChatStream/useChatStream.ts
Labels: 🐞 bug, 💻 webapp, UI, 📱 mobile app

#796 fix: update unread channel counts when channel list is updated
  mobile/src/utils/channel/ChannelListProvider.tsx
  raven-app/src/utils/channel/ChannelListProvider.tsx
Labels: 💻 webapp, High priority

#776 feat: polls
  raven-app/src/components/feature/chat/ChatInput/RightToolbarButtons.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageItem.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/PollMessage.tsx
  raven-app/src/components/feature/chat/ChatMessage/ReplyMessageBox/ReplyMessageBox.tsx
  raven-app/src/components/feature/polls/CreatePoll.tsx
  raven-app/src/types/RavenMessaging/RavenPoll.ts
  raven-app/src/types/RavenMessaging/RavenPollOption.ts
  raven/api/chat_stream.py
  raven/api/raven_poll.py
  raven/hooks.py
  raven/permissions.py
  raven/raven_messaging/doctype/raven_message/raven_message.json
  raven/raven_messaging/doctype/raven_message/raven_message.py
  raven/raven_messaging/doctype/raven_poll/__init__.py
  raven/raven_messaging/doctype/raven_poll/raven_poll.js
  raven/raven_messaging/doctype/raven_poll/raven_poll.json
  raven/raven_messaging/doctype/raven_poll/raven_poll.py
  raven/raven_messaging/doctype/raven_poll/test_raven_poll.py
  raven/raven_messaging/doctype/raven_poll_option/__init__.py
  raven/raven_messaging/doctype/raven_poll_option/raven_poll_option.json
  raven/raven_messaging/doctype/raven_poll_option/raven_poll_option.py
  raven/raven_messaging/doctype/raven_poll_vote/__init__.py
  raven/raven_messaging/doctype/raven_poll_vote/raven_poll_vote.js
  raven/raven_messaging/doctype/raven_poll_vote/raven_poll_vote.json
  raven/raven_messaging/doctype/raven_poll_vote/raven_poll_vote.py
  raven/raven_messaging/doctype/raven_poll_vote/test_raven_poll_vote.py
  types/Messaging/Message.ts
Labels: 💻 webapp, 🩻 backend, UI, backend

#822 feat: show polls on mobile app
  mobile/src/components/features/chat-input/ChatInput.tsx
  mobile/src/components/features/chat-input/MessageInputActions.tsx
  mobile/src/components/features/chat-input/Tiptap.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  mobile/src/components/features/polls/CreatePoll.tsx
  mobile/src/types/RavenMessaging/RavenPoll.ts
  mobile/src/types/RavenMessaging/RavenPollOption.ts
Labels: UI, 📱 mobile app

#823 feat: allow changing of channel types for channel admins
  raven-app/src/components/feature/channel-details/ChannelDetails.tsx
  raven-app/src/components/feature/channel-settings/change-channel-type/ChangeChannelTypeButton.tsx
  raven-app/src/components/feature/channel-settings/change-channel-type/ChangeChannelTypeModal.tsx
  raven/api/chat.py
Labels: 💻 webapp, UI, backend

#828 feat: retract vote in poll
  mobile/src/components/features/chat-space/MessageActions/MessageActionModal.tsx
  mobile/src/components/features/chat-space/MessageActions/MessagePreview.tsx
  mobile/src/components/features/chat-space/MessageActions/RetractVoteAction.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/MessageActions.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/RetractVote.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/PollMessage.tsx
  raven/api/chat.py
  raven/api/raven_poll.py
  raven/permissions.py
  raven/raven_integrations/doctype/raven_scheduler_event/raven_scheduler_event.py
  raven/raven_integrations/doctype/raven_webhook/raven_webhook.py
  raven/raven_messaging/doctype/raven_poll_vote/raven_poll_vote.json
Labels: 💻 webapp, UI, backend, 📱 mobile app

#830 feat: show users who have voted for non anonymous polls (mobile app)
  mobile/src/components/features/chat-space/MessageActions/MessageActionModal.tsx
  mobile/src/components/features/chat-space/MessageActions/PollActions.tsx
  mobile/src/components/features/chat-space/MessageActions/RetractVoteAction.tsx
  mobile/src/components/features/chat-space/chat-view/MessageBlock.tsx
  mobile/src/components/features/polls/ViewPollVotes.tsx
  raven/api/raven_poll.py
Labels: UI, backend, 📱 mobile app

#832 fix(web): upload files on hitting enter
  raven-app/src/components/feature/chat/ChatInput/FileInput/useFileUpload.ts
  raven-app/yarn.lock
Labels: 🐞 bug, 💻 webapp, UI

#838 fix: sort channels and DMs by last message timestamp
  mobile/src/hooks/useUnreadCount.ts
  mobile/src/pages/direct-messages/DirectMessageList.tsx
  mobile/src/types/RavenChannelManagement/RavenChannel.ts
  mobile/src/utils/channel/ChannelListProvider.tsx
  mobile/yarn.lock
  raven-app/src/hooks/useUnreadMessageCount.ts
  raven-app/src/types/RavenChannelManagement/RavenChannel.ts
  raven-app/src/utils/channel/ChannelListProvider.tsx
  raven/api/raven_channel.py
  raven/raven_channel_management/doctype/raven_channel/raven_channel.json
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
  raven/raven_messaging/doctype/raven_message/raven_message.py
  types/RavenChannelManagement/RavenChannel.ts
Labels: 💻 webapp, UI, backend, 📱 mobile app

#839 feat: added view poll votes modal in web app
  raven-app/src/components/feature/chat/ChatMessage/Renderers/PollMessage.tsx
  raven-app/src/components/feature/polls/ViewPollVotes.tsx
Labels: 💻 webapp, UI

#848 fix: DM sorting by last message on mobile
  mobile/src/pages/direct-messages/DirectMessageList.tsx
Labels: UI, 📱 mobile app

#853 fix: newlines do not work in block quotes
  mobile/src/components/features/chat-space/chat-view/components/TiptapRenderer/Blockquote.tsx
  mobile/src/components/features/chat-space/chat-view/components/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/Blockquote.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/tiptap-renderer.styles.css
Labels: 💻 webapp, UI, 📱 mobile app

#855 fix: error banner on web app
  mobile/src/pages/auth/LoginWithEmail.tsx
  raven-app/src/components/common/Callouts/ErrorCallouts.tsx
  raven-app/src/components/feature/channel-member-details/add-members/AddChannelMemberModal.tsx
  raven-app/src/pages/auth/Login.tsx
  raven-app/src/pages/auth/LoginWithEmail.tsx
  raven-app/src/pages/auth/SignUp.tsx
Labels: 💻 webapp, UI, 📱 mobile app

#865 feat: add pagination in gif picker
  raven-app/package.json
  raven-app/src/components/common/GIFPicker/GIFFeaturedResults.tsx
  raven-app/src/components/common/GIFPicker/GIFSearchResults.tsx
  raven-app/yarn.lock
Labels: 💻 webapp, UI

#869 fix: formatting issues on tiptap editor
  raven-app/package.json
  raven-app/src/components/feature/chat/ChatInput/TextFormattingMenu.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatMessage/MessageActions/useMessageCopy.ts
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/yarn.lock
Labels: 💻 webapp, UI

#870 fix: added keyboard shortcut for code block
  raven-app/src/components/feature/chat/ChatInput/TextFormattingMenu.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
Labels: 💻 webapp, UI

#871 feat: emoji suggestions
  mobile/src/components/common/EmojiPicker.tsx
  mobile/src/components/features/chat-input/EmojiList.tsx
  mobile/src/components/features/chat-input/EmojiSuggestion.tsx
  mobile/src/components/features/chat-input/Tiptap.tsx
  mobile/src/components/features/chat-space/chat-view/components/TiptapRenderer/TiptapRenderer.tsx
  raven-app/package.json
  raven-app/src/components/common/EmojiPicker/EmojiPicker.tsx
  raven-app/src/components/feature/chat/ChatInput/EmojiList.tsx
  raven-app/src/components/feature/chat/ChatInput/EmojiSuggestion.tsx
  raven-app/src/components/feature/chat/ChatInput/Tiptap.tsx
  raven-app/src/components/feature/chat/ChatMessage/Renderers/TiptapRenderer/TiptapRenderer.tsx
  raven-app/yarn.lock
Labels: 💻 webapp, UI, 📱 mobile app

#873 feat: allow multiple admins on a channel and only allow admins to add or remove members
  raven-app/src/components/feature/channel-details/leave-channel/LeaveChannelButton.tsx
  raven-app/src/components/feature/channel-member-details/ChannelMemberDetails.tsx
  raven-app/src/components/feature/channel-member-details/UserActions/UpdateAdminStatusButton.tsx
  raven-app/src/components/feature/channel-member-details/UserActions/UserActionsMenu.tsx
  raven-app/src/components/feature/channel-member-details/remove-members/RemoveChannelMemberModal.tsx
  raven-app/src/components/feature/channel-member-details/remove-members/RemoveMemberButton.tsx
  raven-app/src/components/feature/channel-settings/ChannelSettings.tsx
  raven-app/src/components/feature/channel-settings/archive-channel/ArchiveChannelButton.tsx
  raven-app/src/components/feature/channel-settings/change-channel-type/ChangeChannelTypeButton.tsx
  raven-app/src/components/feature/channel-settings/delete-channel/DeleteChannelButton.tsx
  raven-app/src/components/feature/select-member/AddMembersDropdown.tsx
Labels: 💻 webapp, UI

#875 fix: push notification timestamp
  raven/raven_messaging/doctype/raven_message/raven_message.py
Labels: backend

#750 fix: generate description message for file upload
  mobile/src/components/features/chat-input/FileUploadModal.tsx
Labels: UI, 📱 mobile app

#886 fix: trigger ORM update when changing notification setting
  raven/api/notification.py
Labels: backend

#891 fix(ui): changed layout of sidebar with transitions
  raven-app/src/components/feature/channels/ChannelList.tsx
  raven-app/src/components/feature/channels/CreateChannelModal.tsx
  raven-app/src/components/feature/direct-messages/DirectMessageList.tsx
  raven-app/src/components/layout/Sidebar/PinnedChannels.tsx
  raven-app/src/components/layout/Sidebar/SidebarBody.tsx
  raven-app/src/components/layout/Sidebar/SidebarComp.tsx
Labels: 💻 webapp, UI
