Repository The-Commit-Company/raven, pull requests merged in 2024-11, with the labels that each got.

#1143 Merging develop into main
  raven/install.py
  raven/raven/doctype/raven_user/raven_user.py
  raven/raven_channel_management/doctype/raven_channel/raven_channel.py
Labels: backend

#1150 feat: 'Left-Right' Chat Layout
  frontend/src/components/feature/chat/ChatMessage/LeftRightLayout/LeftRightLayout.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/pages/settings/Appearance.tsx
  raven/boot.py
  raven/raven/doctype/raven_user/raven_user.json
  raven/raven/doctype/raven_user/raven_user.py
  yarn.lock
Labels: UI, backend

#1155 fix: default value for chat layout style
  frontend/src/components/feature/chat/ChatMessage/LeftRightLayout/LeftRightLayout.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageActions/QuickActions/QuickActions.tsx
  frontend/src/components/feature/chat/ChatMessage/MessageItem.tsx
  frontend/src/pages/settings/Appearance.tsx
  raven/boot.py
Labels: UI, backend

#1161 fix: set correct `max-width` to replied message content
  frontend/src/components/feature/chat/ChatMessage/ReplyMessageBox/ReplyMessageBox.tsx
Labels: UI

#1168 fix: use webhook data & headers from original Webhook doc
  raven/raven_integrations/doctype/raven_webhook/raven_webhook.py
Labels: backend
